<% provide(:title, 'Home') %>
<div class="header">
    <!-- <%= link_to image_tag('header.jpg', class: 'header-image', width: '100%') %> -->
    <nav>
      <ul>
        <li>HOURGLASS MEDIA</li>
      </ul>
    </nav>
    <p>
      Empowering businesses through flawless digital experiences
    </p>
</div>

<div class="flex-container-who">
  <div class="who">
    <h1 class="center-text">Who We Are</h1>
    <p class="flex-item-who-text">
      Hourglass Media is a digital agency that crafts beautiful online experiences
      from the ground up. We are passionate about growing businesses through content,
      marketing, user experience, and product development.
    </p>
  </div>
</div>

<div class="employee-section">
  <div class="flex-container-employee">
    <div class="flex-item-employee">
      <h2 class="name">James Base</h2>
      <p class="title">Ux Designer</p>
      <%= link_to image_tag('james.jpg') %>
      <p class="bio">
        Jordan has been developing for over five years, and is currently
        going to school at Madison College, in Madison, Wisconsin.
      </p>
    </div>

    <div class="flex-item-employee">
      <h2 class="name">Jordan Jones</h2>
      <p class="title">Ux Designer</p>
      <%= link_to image_tag('jordan.jpg') %>
      <p class="bio">
        Jordan has been developing for over five years, and is currently
        going to school at Madison College, in Madison, Wisconsin.
      </p>
    </div>

    <div class="flex-item-employee">
      <h2 class="name">Mariano Avila</h2>
      <p class="title">Ux Designer</p>
      <%= link_to image_tag('mariano.jpg') %>
      <p class="bio">
        Jordan has been developing for over five years, and is currently
        going to school at Madison College, in Madison, Wisconsin.
      </p>
    </div>
  </div>
</div>

<div class="services-section">
  <h1 class="center-text">OUR SERVICES</h1>
  <div class="flex-container-services">
    <div class="row">
      <div class="flex-child-services">
        <p>Website Development</p>
        <%= link_to image_tag('icon-1.png') %>
      </div>
      <div class="flex-child-services">
        <p>Interface Design</p>
        <%= link_to image_tag('icon-2.png') %>
      </div>
    </div>
    <div class="row">
      <div class="flex-child-services">
        <p>Social Media Marketing</p>
        <%= link_to image_tag('icon-3.png') %>
      </div>
      <div class="flex-child-services">
        <p>User Research</p>
        <%= link_to image_tag('icon-4.png') %>
      </div>
    </div>
    <div class="row">
      <div class="flex-child-services">
        <p>Digital Strategy</p>
        <%= link_to image_tag('icon-5.png') %>
      </div>
      <div class="flex-child-services">
        <p>Content Creation</p>
        <%= link_to image_tag('icon-6.png') %>
      </div>
    </div>
  </div>
</div>

<div class="contact-section">
  <h1 class="center-text contact-header">CONTACT US</h1>
  <div class="flex-container-contact">
    <div class="flex-container-contact-child">
      <div class="contact-link">
        <p class="email">
          email: <a href="mailto:hi@hourglassmedia.io?subject=Website Inquiry">hi@hourglassmedia.io</a>
        </p>

        <p class="twitter">
          twitter: <a href="https://twitter.com/hourglass_io">hourglass_io</a>
        </p>
      </div>
    </div>
    <div class="flex-container-contact-child">
    </div>
  </div>
</div>
